<!DOCTYPE html>
{% extends 'base.html '%}
{% load mvote %}
{% block title %}投票趣{% endblock %}
{% block content %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    {% if user.is_authenticated %}
                    <h3>{{ user.username }} 欢迎回来</h3>
                    {% else %}
                    <h3>欢迎来到投票趣</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% load account %}
        {% for poll in polls %}
        {% if forloop.first %}
            <div class="list-group">
        {% endif %}
            <a href="{% url 'poll-url' poll.id %}" class="list-group-item">
                <span class="glyphicon glyphicon-check"></span>
                总票数:{{ poll.id | show_votes }},
                项数:{{ poll.id | show_items }}:
                {{ poll.name }},创建人:【{{ poll.auther }}】,
                创建时间:{{ poll.created_at }}
            </a>
            {% if forloop.last %}
            </div>
            {% endif %}
        {% empty %}
        <center><h3>目前没有可用投票项</h3></center>
        {% endfor %}
        <div class="list-group"></div>
    </div>
    <div class="row">
        <button class="btn btn-info">
            <a>第{{ polls.number }}页</a>
        </button>
        {% if polls.has_previous %}
        <button class="btn btn-info">
            <a href="?p={{ polls.previous_page_number }}">上一页</a>
        </button>
        {% endif %}
        {% if polls.has_next %}
        <button class="btn btn-info">
            <a href="?p={{ polls.next_page_number }}">下一页</a>
        </button>
        {% endif %}
    </div>
</div>
{% endblock %}